.sidenav{
    background-color: rgb(59, 58, 58);
    width: 200px;
}

.sidenav a{
    color: #fff;
}

.sidenav i{
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: #fff;
    color: black;
}